{%extends 'main_web/index.html'%}
{%load static%}

{%block about%}
<!-- About Section-->
<section class="page-section bg-primary text-white mb-0" id="about" style = "margin-top: 6rem;">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ml-auto"><p class="lead">MeetupBuddy is an event meetup planning website which helps in getting information regarding new meetups. It also can be used to add new meetups!</p></div>
            <div class="col-lg-4 mr-auto"><p class="lead">We support free education therefore we encourage people to share their knowledge. We are just a platform!</p></div>
        </div>

    </div>
</section>

{%endblock%}