{%extends 'main_web/index.html'%}
{%block meetup_details%}
<section class="page-section bg-primary text-white mb-0" id="about" style = "margin-top: 6rem;">
    <div class="container">
        <h1>{{meetup.title}}</h1>
        <br>
        <p> City : {{meetup.city.city}}</p>
        <p> Address : {{meetup.city.address}}</p>
        <p> Time : {{meetup.time}}</p>
        <p> Duration : {{meetup.duration}}</p>

        <br>
        <p><a href = "{% url 'home' %}" style = "color:white"> Home</a></p>

</div>
</section>
{%endblock%}