{%extends 'main_web/index.html'%}
{%block new_meetup%}
<section class="page-section bg-primary text-white mb-0" id="about" style = "margin-top: 6rem;">
    <div class="container">
        <form method = "post">
            <table>
                {{ form }}
            </table>
            {% csrf_token %}
            <button type="submit" >create</button>
            
        </form>

        <br>
        <p><a href = "{% url 'home' %}" style = "color:white"> Home</a></p>

</div>
</section>
{%endblock%}